# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Local virtual environments
venv/
.env/
.venv/

# Scraped data
forecasts/
filetimes_checks/

# Editor folders
.DS_Store
.idea/
.vscode/
